.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid black;
    padding: 0px 3px;
    border-radius: 100%;

}

.value {
    font-size: 30px;
}